services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - 5437:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    environment:
      POSTGRES_URL: postgresql://user:password@postgres:5432/db
      MONGO_URL: mongodb://mongo:27017
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELETHON_STRING_SESSION: ${TELETHON_STRING_SESSION}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - mongo

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:8000
    ports:
      - 5173:5173
    depends_on:
      - backend

volumes:
  postgres-data:
  mongo-data:
