services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - 5437:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      POSTGRES_URL: postgresql://user:password@postgres:5432/db
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELETHON_STRING_SESSION: ${TELETHON_STRING_SESSION}
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}
    ports:
      - 8001:8000
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:8001
    ports:
      - 5174:5173
    depends_on:
      - backend

volumes:
  postgres-data:
